$colors: (
  'orange-accent': #ffa500,
);
$text-color: (
  'black': #000,
  'light-pink': #eec5c5,
);
$border: (
  'slim-black': 1px solid #000,
);
$bg-color: (
  'black': #000,
  'primary-dark': #16141f,
  'primary-light': #eec5c5,
);
$br: (
  'base': 4px,
);
$shadow: (
  'main': rgba(17, 17, 26, 0.2) 0px 0px 16px,
  'light': rgba(193, 193, 209, 0.3) 0px 0px 16px,
);
