@import '../../../public/variables.scss';
.modal {
  position: relative;
}
.form {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
  gap: 10px;
}

.label{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
