.container{
    /* margin: 50px 0; */
    padding: 50px 15px;
    position: relative;
    width: auto;
    min-height: 1200px;
    /* max-height: 1300px; */
}

.list{
    position: sticky;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.card{
    border: 1px solid #000;
    border-radius: 8px;
    padding: 16px;
    margin: 20px auto 0 auto;
    background-color: beige;
    max-width: 600px;
    min-width: 200px;
}
.dark{
    background-color: #16141f;
    color: #eec5c5;
    /* border: 2px solid #eec5c5; */
}
.light{
    color:#000;
    background-color: #E5E5E5;
    /* color: rgb(150, 0, 0); */
    /* border: 2px solid #000; */
}
