@import '../../../public/variables.scss';

// font-family: 'Fira Sans', sans-serif;
// font-family: 'Montagu Slab', serif;


.header {
  width: 100%;
  padding: 15px 22px;
  font-family: 'Montagu Slab', serif;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1500px;
}
.logo-name {
  color: map-get($colors, 'orange-accent');
  color: #ff7800;
  font-weight: 600;
}
.logo-part{
color: #b30000;
}
.nav {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 85px;
  font-weight: 600;
  text-transform: uppercase;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.theme-btn {
  font-weight: bold;
  border-radius: 12px;
  cursor: pointer;
}
.dark {
  background-color: map-get($bg-color, 'black');
  color: #eec5c5;
  border-bottom: 2px solid #eec5c5;
}
.light {
  background-color: #fff;
  color: rgb(150, 0, 0);
  border-bottom: 2px solid #000;
}
.logInBtn {
  border-radius: map-get($br, 'base');
  background-color: map-get($colors, 'orange-accent');
  border: none;
  color: map-get($text-color, 'black');
  cursor: pointer;
  padding: 4px 12px;
}
.logInBtn:hover {
  box-shadow: map-get($shadow, 'light');
}
