.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 22px;
}
.logo {
  color: #ff7800;
  font-weight: 600;
}
.nav {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 30px;
  font-weight: 600;
  text-transform: uppercase;
}
.buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}
.theme-btn {
  font-weight: bold;
  border: 2px solid brown;
  border-radius: 10px;
  cursor: pointer;
}
.dark {
  background-color: #000;
  color: #eec5c5;
  border: 2px solid #eec5c5;
}
.light {
  background-color: #fff;
  color: rgb(150, 0, 0);
  border: 2px solid #000;
}
.logInBtn {
  border-radius: 4px;
  background-color: #ff7800;
  border: 2px solid black;
  color: #000;
  cursor: pointer;
  width: 60px;
  height: 23px;
}
