@import '../../../public/variables.scss';

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // gap: 50px;
  padding: 15px 22px;
  border-top: 3px solid rgb(150, 0, 0);
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1500px;
  gap: 50px;
}
.dark {
  background-color: #000;
  color: #d8a4a4;
  border: 3px solid #fff;
}
.light {
  background-color: #fff;
  color: rgb(53, 3, 3);
}
